**/.vs/
**/.vscode/
**/.idea/
**/bin/
**/obj/
**/out/
**/node_modules/
**/dist/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Temporary files
*.tmp
*.lock
*.cache
*.mdb
*.pdb
*.ilk
*.aps
*.ncb
*.opendb
*.obj
*.tlog
*.pyc

# NuGet
*.nupkg
project.lock.json

# Rider
.idea/
*.sln.iml

# Publish
publish/
*.publishsettings

# Docker
**/docker-compose.override.yml
**/.dockerignore
**/Dockerfile
