<div class="add-task-form">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="error">@errorMessage</p>
    }
    <input @bind="newTaskText" placeholder="Zadejte název úkolu" @bind:event="oninput" @onkeypress="HandleKeyPress" />
    <Button_2 OnClick="AddTask" Type="secondary">Přidat úkol</Button_2>
</div>

@code {
    [Parameter]
    public EventCallback<TaskModel> OnTaskAdded { get; set; }

    [Parameter]
    public TaskListModel TaskList { get; set; } = new();

    private string newTaskText = string.Empty;
    private string? errorMessage;

    private async Task AddTask()
    {
        if (string.IsNullOrWhiteSpace(newTaskText))
        {
            errorMessage = "Název úkolu nemůže být prázdný.";
            return;
        }

        var newTask = new TaskModel
        {
            Text = newTaskText,
            TaskListName = TaskList.Name
        };

        await OnTaskAdded.InvokeAsync(newTask);
        newTaskText = string.Empty; // Vyčistíme input
        errorMessage = null; // Resetujeme chybu
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await AddTask();
        }
    }
}