@inject TaskService TaskService

<div class="kanban-column">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="error">@errorMessage</p>
    }
    <div class="kanban-column-header">
        @if (isEditing)
        {
            <input @bind="taskListModel.Name"
                   @onblur="SaveTaskListName"
                   @bind:event="oninput"
                   @onkeypress="HandleKeyPress"
                   @ref="taskListInput"
                   class="task-list-input"
                   autofocus />
        }
        else
        {
            <h4 @ondblclick="StartEditing">@taskListModel.Name</h4>
        }
        <Button @onclick="() => OnRemoveTaskList.InvokeAsync(taskListModel.Name)" Color="ButtonColor.Danger">X</Button>
    </div>

    <div class="task-list">
        @foreach (var task in taskListModel.Tasks)
        {
            <TaskItem Task="task" OnTaskSelected="ShowDetails" />
        }
    </div>

    <!-- Přidání nového úkolu -->
    <div style="text-align: center;">
        @if (showAddTaskListInput)
        {
            <AddTaskForm OnTaskAdded="AddTask"/>
        }
        else
        {
            <Button @onclick="ShowAddTaskListInput" Color="ButtonColor.Primary">+ Přidat úkol</Button>
        }
    </div>
</div>

<TaskItemDetails Task="selectedTask" OnClose="CloseDetails" OnMoveTask="OnMoveTask" OnRemove="RemoveTask" TaskLists="TaskLists" />

@code {
    [Parameter]
    public TaskListModel taskListModel { get; set; } = new();

    [Parameter]
    public List<TaskListModel> TaskLists { get; set; } = new();

    [Parameter]
    public EventCallback<(TaskModel task, string targetTaskListName)> OnMoveTask { get; set; }

    [Parameter]
    public EventCallback<string> OnRemoveTaskList { get; set; }

    private bool isEditing = false;
    private ElementReference taskListInput;
    private string? errorMessage;
    private bool showAddTaskListInput = false;

    private TaskModel? selectedTask = null;

    private async Task StartEditing()
    {
        isEditing = true;
        await Task.Delay(50);
        await taskListInput.FocusAsync();
    }

    private void ShowAddTaskListInput()
    {
        showAddTaskListInput = true;
    }

    private void HideAddTaskListInput()
    {
        showAddTaskListInput = false;
    }

    private void SaveTaskListName()
    {
        try 
        {
            TaskService.UpdateTaskListName(taskListModel);
            isEditing = false;
            errorMessage = null; // Resetujeme chybu, pokud vše proběhlo ok
        }
        catch (ArgumentException ex) {
            errorMessage = ex.Message;
        }
        catch (InvalidOperationException ex) {
            errorMessage = ex.Message;
        }
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SaveTaskListName();
        }
    }

    private void RemoveTask(TaskModel task)
    {
        //taskListModel.Tasks.Remove(task);
        TaskService.RemoveTask(taskListModel, task);
    }

    private void ShowDetails(TaskModel task) => selectedTask = task;
    private void CloseDetails() => selectedTask = null;

    private void AddTask(string newTaskText)
    {
        TaskService.AddTask(taskListModel.Name, newTaskText);
        HideAddTaskListInput();
    }
}